<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {{today | date:'yyyy'}} &copy; PORTAIL ENELP by <a href="https://www.winxo.com/"
                    target="_blank">WINXO DSI Y.A</a>
            </div>
            <div class="col-md-6">
                <!--<div class="text-md-end footer-links d-none d-sm-block">
                    <a href="javascript:void(0);">About Us</a>
                    <a href="javascript:void(0);">Help</a>
                    <a href="javascript:void(0);">Contact Us</a>
                </div>-->
            </div>
        </div>
    </div>
</footer>
