<app-default-layout>
    <div class="text-center mb-4">
        <h4 class="text-uppercase mt-0" i18n>Authentification</h4>
    </div>

    <form name="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-ui-preloader [display]="loading"></app-ui-preloader>
        <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
            {{ error }}
        </ngb-alert>
        <div class="mb-3">
            <label for="username" class="form-label" i18n>Identifiant</label>
            <input class="form-control" type="text" id="username" required i18n-placeholder placeholder="Entrez votre identifiant" formControlName="username" [ngClass]="{'is-invalid':formSubmitted && formValues['username'].invalid}"/>
            <div *ngIf="formSubmitted && formValues['username'].invalid" class="invalid-feedback">
                <div *ngIf="formValues['username'].errors?.['required']" i18n>
                    Entrez votre identifiant
                </div>
                <div *ngIf="formValues['username'].errors?.['username']" i18n>
                    Entrez un identifiant valide
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label" i18n>Mot de passe</label>
            <input class="form-control" type="password" required i18n-placeholder id="password" placeholder="Entrez votre mot de passe" formControlName="password" [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}"/>
            <div *ngIf="formSubmitted && formValues['password'].invalid " class="invalid-feedback">
                <div *ngIf="formValues['password'].errors?.['required']" i18n>
                    Password is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox-signin" checked/>
                <label class="form-check-label" for="checkbox-signin" i18n>Se souvenir de moi</label>
            </div>
        </div>

        <div class="mb-3 d-grid text-center">
            <button class="btn btn-primary" type="submit" i18n>Connexion</button>
        </div>
    </form>


    <div class="row mt-3" footerLink>
        <div class="col-12 text-center">
            <p>
                <a [routerLink]="['../recover-password']" class="btn btn-danger waves-effect waves-light">
                    <i class="fas fa-lock me-1"></i> Mot de passe oublié ?
                </a>
            </p>
            <!--<p class="text-muted" i18n>
                Don't have an account?
                <a routerLink="../register" class="text-dark ms-1"><b>Sign Up</b></a>
            </p>-->
        </div>
    </div>
</app-default-layout>
