// Styles

// Main styles
@import "./app.scss";

// adminto Icons
@import "./icons.scss";


.card-header {
    border-bottom: 1px solid var(--ct-border-color);
}
.price {
    font-weight: bold;
    font-size: 75px;
    line-height: 75px;
    color: #000;
    padding: 10px 0;
}

.price span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    color: #788394;
}

.price sup {
    font-size: 28px;
    vertical-align: super;
}

.price-dollar {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    margin-right: -10px;
    margin-top: 14px;
}

.price-interval {
    display: inline-block;
    font-size: 12px;
    vertical-align: text-bottom;
    margin-left: -10px;
    margin-bottom: 14px;
    color: #929daf;
}
table.dataTable thead tr th, .col_price td.title {
    background: #5b69bc !important;
    color: #fff;
    font-weight: 700 !important;
    font-size: 12px;
}
.col_price td.price {
    font-size: 14px !important;
    line-height: 16px;
}
