<div class="account-pages my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="text-center" *ngIf="hasLogo">
                    <div class="auth-logo">
                        <a [routerLink]="'/'" class="logo logo-dark ">
                            <span class="logo-lg">
                                <img src="assets/images/wolf_logo.png" alt="" width="200">
                            </span>
                        </a>
                        <a [routerLink]="'/'" class="logo logo-light ">
                            <span class="logo-lg">
                                <img src="assets/images/wolf_logo.png" alt="" width="200">
                            </span>
                        </a>
                    </div>
                    <p class="mt-2 mb-2 fs-2 fw-bolder lh-1 sub_title">{{APP_NAME}}</p>
                    <p class="mt-2 mb-4 fs-6 lh-1">{{APP_DESCRIPTION}}</p>
                </div>
                <div class="card" [class]="cardClass">
                    <div class="card-body p-4">
                        <ng-content></ng-content>
                    </div> <!-- end card-body -->
                </div>
                <ng-content select="[footerLink]"></ng-content>
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
