<app-default-layout>
    <div class="text-center mb-4">
        <h4 class="text-uppercase mt-0 mb-4" i18n>Content de te revoir</h4>
        <img src="assets/images/logo.png" width="99" alt="user-image" class="rounded-circle img-thumbnail">
        <p class="text-muted my-4" i18n>Entrez votre mot de passe pour accéder à l'administrateur.</p>
    </div>

    <form [formGroup]="lockScreenForm" (ngSubmit)="onSubmit()">
        <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
        <div class="mb-3">
            <label for="password" class="form-label" i18n>Mot de passe</label>
            <input class="form-control" type="password" required id="password" i18n-placeholder placeholder="Tapez votre mot de passe" formControlName="password" [ngClass]="{'is-invalid':formSubmitted && formValues['password'].invalid}"/>
            <div *ngIf="formSubmitted && formValues['password'].invalid " class="invalid-feedback">
                <div *ngIf="formValues['password'].errors?.['required']" i18n>
                    Mot de passe requis.
                </div>
            </div>
        </div>
        <div class="mb-0 text-center d-grid">
            <button class="btn btn-primary" type="submit" i18n> Se connecter </button>
        </div>
    </form>

    <div class="row mt-3" footerLink>
        <div class="col-12 text-center">
            <p class="text-muted" i18n>
                Pas vous? retour <a routerLink="../login" class="text-dark ms-1"><b>Se connecter</b></a>
            </p>
        </div>
    </div>
</app-default-layout>
