<div class="card card-animate bg-{{variant}}">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <p class="text-white text-uppercase fs-13 fw-bold">{{title}}</p>
                <h2 class="mt-4 ff-secondary fw-semibold text-white">
                    <span class="counter-value me-1" [countUp]="count" [options]="{startVal:startVal}"></span>
                    <small *ngIf="element">{{element}}(s)</small>
                </h2>
                <p class="mb-0 text-white d-none">
                    <small>dont:</small>
                    <span class="counter-value badge bg-info text-light mb-0" data-target="59">59</span>
                    <small>WINXO</small>
                    <span class="counter-value badge bg-info text-light mb-0" data-target="44">44</span>
                    <small>ENELP</small>
                </p>
            </div>
            <div>
                <div class="avatar-md flex-shrink-0">
                    <span class="avatar-title bg-white rounded-circle fs-2">
                        <i class="{{icon}} text-{{variant}}"></i>
                    </span>
                </div>
            </div>
        </div>
    </div><!-- end card body -->
</div>
