<swal #successSwal title="Succès!" text="Cette entrée a été ajoutée avec succès." icon="success"></swal>
<swal #errorSwal title="Erreur!"
      text="Une erreur s'est produite. Les informations saisies ne sont pas prises en compte." icon="error"></swal>

<div class="row">
    <div class="col-12">
        <form [formGroup]="standardForm" name="add-form needs-validation" (ngSubmit)="onSubmit()">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">
                        <i class="fa fa-money-bill-wave bg-soft-primary rounded-circle fs-4 p-1"></i> {{title}}
                        <p class="text-muted mb-0 mt-1 fs-6">
                            ({{entityElm.label}})
                        </p>
                    </h4>
                </div>
                <div class="card-body">
                    <p class="text-muted"></p>
                    <div class="live-preview">
                        <app-ui-preloader [display]="loadingForm"></app-ui-preloader>
                        <div id="{{entityElm.entity}}" class="row">
                            <div class="position-relative col-md-6 col-lg-4 mb-3">
                                <label for="{{entityElm.entity}}_voucher_type" class="form-label">Type de Bon</label>
                                <input class="form-control" type="hidden" formControlName="voucherType_id"/>
                                <input class="form-control bg-soft-blue text-dark fw-bold" type="text"
                                       id="{{entityElm.entity}}_voucher_type" value="{{voucher_type_name}}" readonly/>
                            </div>
                            <div class="position-relative col-md-6 col-lg-4 mb-3">
                                <label for="{{entityElm.entity}}_voucher_date" class="form-label">Date Journée</label>
                                <input class="form-control bg-soft-blue text-dark fw-bold" type="date"
                                       id="{{entityElm.entity}}_voucher_date" formControlName="voucherDate" readonly/>
                            </div>
                            <div class="position-relative col-md-6 col-lg-4 mb-3">
                                <label for="{{entityElm.entity}}_slipNumber" class="form-label">Numéro Bordereau</label>
                                <input class="form-control bg-soft-blue text-dark fs-5 fw-bold" type="text"
                                       id="{{entityElm.entity}}_slipNumber" formControlName="slipNumber" readonly/>
                            </div>
                            <div class="position-relative col-md-6 col-lg-4 mb-3">
                                <label for="{{entityElm.entity}}_voucherNumber" class="form-label">Numéro de Bon</label>
                                <input class="form-control" type="text" id="{{entityElm.entity}}_voucherNumber"
                                       i18n-placeholder placeholder="Entrez un Numéro de Bon"
                                       formControlName="voucherNumber"
                                       [ngClass]="{'is-invalid':formSubmitted && formValues['voucherNumber'].invalid}"/>
                                <div *ngIf="formSubmitted && formValues['voucherNumber'].valid" class="valid-tooltip">
                                    Cela semble bon!
                                </div>
                                <div *ngIf="formSubmitted && formValues['voucherNumber'].invalid"
                                     class="invalid-tooltip">
                                    {{voucherError}}
                                </div>
                            </div>

                            <div *ngIf="voucherType_id!=3" class="position-relative col-md-6 col-lg-4 mb-3">
                                <label for="{{entityElm.entity}}_vehiculeNumber" class="form-label">Numéro
                                    véhicule</label>
                                <input class="form-control" type="text" id="{{entityElm.entity}}_vehiculeNumber"
                                       i18n-placeholder placeholder="Entrez un Numéro de Bon"
                                       formControlName="vehiculeNumber"
                                       [ngClass]="{'is-invalid':formSubmitted && formValues['vehiculeNumber'].invalid}"/>
                                <div *ngIf="formSubmitted && formValues['vehiculeNumber'].valid" class="valid-tooltip">
                                    Cela semble bon!
                                </div>
                                <div *ngIf="formSubmitted && formValues['vehiculeNumber'].invalid"
                                     class="invalid-tooltip">
                                    Veuillez saisir une valeur valide.
                                </div>
                            </div>

                            <div *ngIf="voucherType_id!=3" class="position-relative col-md-6 col-lg-4 mb-3">
                                <label for="{{entityElm.entity}}_voucherAmount" class="form-label">Montant du
                                    Bon</label>
                                <input class="form-control" type="text" id="{{entityElm.entity}}_voucherAmount"
                                       i18n-placeholder placeholder="Entrez un Numéro de Bon"
                                       formControlName="voucherAmount"
                                       [ngClass]="{'is-invalid':formSubmitted && formValues['voucherAmount'].invalid}"/>
                                <div *ngIf="formSubmitted && formValues['voucherAmount'].valid" class="valid-tooltip">
                                    Cela semble bon!
                                </div>
                                <div *ngIf="formSubmitted && formValues['voucherAmount'].invalid"
                                     class="invalid-tooltip">
                                    Veuillez saisir une valeur valide.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card body-->
                <!-- start card footer -->
                <div class="card-footer overflow-hidden">
                    <a [routerLink]="['../voucher-type']" type="button"
                       class="btn btn-info rounded-pill waves-effect waves-light">
                        <span class="btn-label-left"><i class="mdi mdi-keyboard-backspace"></i></span> Retour à l'écran
                        précédente
                    </a>

                    <button [disabled]="!isVerified" type="submit"
                            class="btn btn-success rounded-pill waves-effect waves-light float-end">
                        <span class="btn-label">
                            <i class="mdi mdi-check-all"></i>
                        </span> Valider
                    </button>

                    <a [ngStyle]="{pointerEvents: isVerified ? 'none' : ''}"
                       class="btn {{isVerified ? 'btn-soft-secondary':'btn-info'}} rounded-pill waves-effect waves-light float-end me-2"
                       (click)="verifyVoucher()">
                        <span class="btn-label">
                            <i class="mdi mdi-alert-circle-outline"></i>
                        </span> Vérifier le bon
                    </a>
                </div>
                <!-- end card footer -->
                <!-- end card -->
            </div>
        </form>
        <!-- end col-->
    </div>
    <!-- end row-->
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">
                    <i class="mdi mdi-script-text bg-soft-primary rounded-circle fs-4 p-1"></i> Liste des bons saisis
                    <p class="text-muted mb-0 mt-1 fs-6">
                        ({{records.length}} entrée{{records.length > 1 ? "s" : ""}})
                    </p>
                </h4>
            </div>
            <div class="card-body">
                <app-ui-preloader [display]="loadingList"></app-ui-preloader>
                <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
                    {{ error }}
                </ngb-alert>
                <!-- table start -->
                <app-advanced-table [tableData]="records" [columns]="columns" [pagination]="true"
                                    [pageSizeOptions]="pageSizeOptions" [hasRowSelection]="true" [isSearchable]="true"
                                    (search)="searchData($event)" [isSortable]="true" (sort)="onSort($event)"
                                    (deleteRowEvent)="deleteRow($event)" [canDelete]="true" [canEdit]="false">
                </app-advanced-table>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->
