<mat-card class="cardWithShadow">
    @if (loading) {
        <mat-progress-bar mode="query"></mat-progress-bar>
    }
    <mat-card-header>
        <div class="d-flex align-items-center justify-content-between w-100">
            <div>
                <mat-card-title>
                    My rank
                </mat-card-title>
            </div>
            <div class="text-right">
                <mat-card-title>
                <span class="bg-light-warning text-warning border-warning border rounded f-w-600 p-6 p-y-2 f-s-14">
                    {{ credits }}
                </span>
                </mat-card-title>
                Line(s) sold
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        @if (loading) {
            <mat-progress-bar mode="query"></mat-progress-bar>
        } @else {
            <div class="text-center">
                <img [src]="imagePreview" alt="Aperçu de l'image" style="width: 150px;">
            </div>
            <div class="text-center m-t-15">
            <span class="bg-light-primary text-primary border-primary border rounded f-w-600 p-6 f-s-16">
                {{ rank.title }}
            </span>
            </div>
            <div class="text-center m-t-10 p-t-8 p-b-10">
                <span>Since {{ registrationDate | date }}</span>
            </div>
        }
    </mat-card-content>
</mat-card>
