.input-group {
    display: flex;
    align-items: center;
    // margin-bottom: 16px; /* Adjust spacing between rows */
}

.mat-form-field {
    flex: 1; /* Take up remaining space */
    margin-right: 8px; /* Space between input and buttons */
}

.action-btn {
    transform: translateY(-25%);
    margin-left: 12px;
}

.mat-expansion-panel {
    box-shadow: none; /* Remove shadow */
}

.header-container {
    display: flex;
    justify-content: space-between; /* Space between title and icons */
    align-items: center; /* Center vertically */
}

.icon-container {
    display: flex;
    align-items: center; /* Center icons vertically */
    justify-content: end;
    margin-left: auto; /* Push icons to the right */
}


@media (max-width: 599.98px) and (orientation: portrait) {
    .mat-mdc-card-header {
        padding: 16px 10px !important;
    }
    .mat-mdc-card-content {
        padding: 0 !important;
    }
}
