<ngb-alert [dismissible]="false" type="danger" *ngIf="error">
    {{ error }}
</ngb-alert>

<form #f="ngForm" name="form" (ngSubmit)="f.form.valid && onSubmit()">
    <div class="card">
        <!-- start card header -->
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">
                <i class="fas fa-user-plus bg-soft-primary rounded-circle fs-4 p-1"></i> {{title}}
            </h4>
        </div>
        <!-- end card header -->

        <!-- start card body -->
        <div class="card-body">
            <p class="text-muted"></p>
            <div class="live-preview">
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                <div id="{{entityElm.entity}}" class="row">

                    <div class="col-md-6 col-lg-4 mb-5" *ngFor="let prop of userprops">
                        <label for="user_{{prop.input}}" class="form-label">{{prop.label}}</label>
                        <input *ngIf="['text','email','password','hidden'].includes(prop.type)" type="{{prop.type}}" id="user_{{prop.input}}" name="user[{{prop.input}}]" placeholder="" class="form-control form-control" [(ngModel)]="prop.value" #{{prop.input}}="ngModel">

                        <div *ngIf="['checkbox'].includes(prop.type)" class="form-switch">
                            <div class="form-check">
                                <input type="checkbox" id="user_{{prop.input}}" name="user[{{prop.input}}]" class="form-check-input form-check-input" [(ngModel)]="prop.value" #{{prop.input}}="ngModel">
                                <label class="form-check-label form-check-label" for="user_{{prop.input}}">{{prop.label}}</label>
                            </div>
                            <div id="user_{{prop.input}}_help" class="form-text mb-0 help-text">* cette option est
                                facultative.
                            </div>
                        </div>

                        <select *ngIf="['select'].includes(prop.type)" id="user_{{prop.input}}" name="user[{{prop.input}}]" class="form-control select2-basic form-select select2-hidden-accessible" [(ngModel)]="prop.value" #{{prop.input}}="ngModel">
                            <option value="">Choisissez une option</option>
                            <option *ngFor="let child of prop.joinTable" value="{{child.id}}">
                                #{{child.id}} - {{child.libelle}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card body -->
        <!-- start card footer -->
        <div class="card-footer overflow-hidden">
            <button class="btn btn-success float-start" type="submit">
                <i class="las la-edit"></i>
                <span class="kt-hidden-mobile"> Enregistrer</span>
            </button>
            <a [routerLink]="['../../']" class="btn btn-info float-end">
                <i class="las la-arrow-left"></i>
                <span class="kt-hidden-mobile">Retour à la liste</span>
            </a>
        </div>
        <!-- end card footer -->
    </div>
</form>
