<swal #successSwal title="Succès!" text="Cette journée a été clôturée avec succès." icon="success"></swal>
<swal #errorSwal title="Erreur!" text="Une erreur s'est produite. Les informations saisies ne sont pas prises en compte." icon="error"></swal>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">
                    <i class="fas fa-chart-line bg-soft-primary rounded-circle fs-4 p-1"></i> Synthèse & Totaux
                    <p class="text-muted mb-0 mt-1 fs-6">
                        ({{records.length}} entrée{{records.length > 1 ? "s" : ""}})
                    </p>
                </h4>
            </div>
            <div class="card-body pb-0">
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
                    <i class="fe-alert-triangle me-1 fs-4"></i> {{ error }}
                </ngb-alert>
                <!-- table start -->
                <app-advanced-table [tableData]="records" [columns]="columns" [pagination]="true"
                                    [pageSizeOptions]="pageSizeOptions" [hasRowSelection]="true" [isSearchable]="true"
                                    (search)="searchData($event)" [isSortable]="true" (sort)="onSort($event)"
                                    (deleteRowEvent)="deleteRow($event)" [canEdit]="false" [canDelete]="true">
                </app-advanced-table>
            </div>
            <!-- end card body-->
            <div class="card-footer">
                <div class="flex-shrink-0">
                    <div class="float-start">
                        <h4 class="card-title badge bg-purple text-light fs-5 m-0">{{count}}</h4> bon(s) pour une total de <h4 class="card-title badge bg-purple text-light fs-5 m-0">{{sum | currency:'MAD':'symbol':'3.2-2':'fr'}}</h4>
                    </div>
                    <button [ngStyle]="{pointerEvents: records.length > 0 ? '' : 'none'}" (click)="endTheDay()" type="button" class="btn {{records.length > 0 ? 'btn-info':'btn-soft-secondary'}} btn-md rounded-pill waves-effect waves-light float-end">
                        <span class="btn-label">
                            <i class="mdi mdi-check-all"></i>
                        </span> Clôturer
                    </button>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <!-- end col -->
    <div class="position-relative col-md-2 col-lg-2 mb-0" *ngFor="let voucherTypeSum of voucherTypeSums">
        <div class="card">
            <div class="text-center p-1">
                <img class="card-img-top img-fluid thumb-md-percent" src="{{voucherTypeSum.voucherTypeIcon}}" alt="{{voucherTypeSum.voucherType?.libelle}}" title="{{voucherTypeSum.voucherType?.libelle}}" />
            </div>
            <div class="card-body">
                <h4 class="card-title badge bg-purple text-light fs-5 m-0">{{voucherTypeSum.voucherType?.libelle}}</h4>
                <p class="card-text mt-1 mb-0">
                    Nombre: <b>{{voucherTypeSum.count}}</b>
                </p>
                <p class="card-text">
                    Montant total: <b class="fs-5">{{voucherTypeSum.sum | currency:'MAD':'symbol':'3.2-2':'fr'}}</b>
                </p>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>

