<swal #successSwal title="Succès!" text="Cette entrée a été ajoutée avec succès." icon="success"></swal>
<swal #errorSwal title="Erreur!"
      text="Une erreur s'est produite. Les informations saisies ne sont pas prises en compte." icon="error"></swal>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">
                    <i class="fas fa-user bg-soft-primary rounded-circle fs-4 p-1"></i> Liste ({{entityElm.label}})
                    <p class="text-muted mb-0 mt-1 fs-6">
                        ({{records.length}} entrée{{records.length > 1 ? "s" : ""}})
                    </p>
                </h4>
            </div>
            <div class="card-body">
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                <ngb-alert [dismissible]="false" type="danger" *ngIf="error">{{ error }}</ngb-alert>
                <!-- table start -->
                <app-advanced-table [tableData]="records" [columns]="columns" [pagination]="true"
                                    [pageSizeOptions]="pageSizeOptions" [hasRowSelection]="true" [isSearchable]="true"
                                    (search)="searchData($event)" [isSortable]="true" (sort)="onSort($event)"
                                    (deleteRowEvent)="deleteRow($event)" [canEdit]="false" [canDelete]="true">
                </app-advanced-table>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>
<!-- end row-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">
                    <i class="fas fa-user bg-soft-primary rounded-circle fs-4 p-1"></i> Totaux
                </h4>
            </div>
            <div class="card-body m-0">
                <table class="table table-bordered table-hover display nowrap margin-top-10 w-p100 m-0">
                    <tbody>
                    <tr class="col_price" *ngFor="let voucherTypeSum of voucherTypeSums">
                        <td class="title" colspan="4">Le montant total des bons {{voucherTypeSum.voucherType?.libelle}}</td>
                        <td class="price">{{voucherTypeSum.sum | currency:'MAD':'symbol':'3.2-2':'fr'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

