<swal #successSwal title="Succès!" text="Cette entrée a été ajoutée avec succès." icon="success"></swal>
<swal #errorSwal title="Erreur!" text="Une erreur s'est produite. Les informations saisies ne sont pas prises en compte." icon="error"></swal>

<form [formGroup]="editForm" name="edit-form" (ngSubmit)="onSubmit()">
    <div class="card">
        <!-- start card header -->
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">
                <i class="fas fa-user-edit bg-soft-primary rounded-circle fs-4 p-1"></i> {{title}}
            </h4>
        </div>
        <!-- end card header -->
        <!-- start card body -->
        <div class="card-body">
            <p class="text-muted"></p>
            <div class="live-preview">
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
                    {{ error }}
                </ngb-alert>
                <div id="{{entityElm.entity}}" class="row">
                    <div class="position-relative col-md-6 col-lg-4 mb-2" *ngFor="let prop of objectProps">
                        <label *ngIf="!['hidden'].includes(prop.type)" for="{{entityElm.entity}}_{{prop.input}}" class="form-label">{{prop.label}}</label>
                        <input *ngIf="['text','email','password','hidden'].includes(prop.type)" class="form-control" type="{{prop.type}}" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre identifiant" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                        <input *ngIf="['date'].includes(prop.type)" class="form-control" type="{{prop.type}}" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                        <input *ngIf="['datetime'].includes(prop.type)" class="form-control" type="datetime-local" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date et heure" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                        <div *ngIf="['checkbox'].includes(prop.type)" class="form-switch">
                            <div class="form-check">
                                <input type="checkbox" id="{{entityElm.entity}}_{{prop.input}}" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" class="form-check-input form-check-input" />
                                <label class="form-check-label form-check-label" for="{{entityElm.entity}}_{{prop.input}}">{{prop.label}}</label>
                            </div>
                            <div id="{{entityElm.entity}}_{{prop.input}}_help" class="form-text mb-0 help-text">* cette option est
                                facultative.
                            </div>
                        </div>
                        <select *ngIf="['select'].includes(prop.type)" id="{{entityElm.entity}}_{{prop.input}}" class="form-control select2-basic form-select select2-hidden-accessible" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}">
                            <option value="">Choisissez une option</option>
                            <option *ngFor="let child of prop.joinTable" value="{{child[prop.joinTableId]}}">
                                #{{child[prop.joinTableId]}} - {{child[prop.joinTableIdLabel]}}
                            </option>
                        </select>
                        <textarea *ngIf="['textarea'].includes(prop.type)" class="form-control" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date et heure" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}"></textarea>
                        <div *ngIf="formSubmitted && formValues[prop.input].valid" class="valid-tooltip">
                            Cela semble bon!
                        </div>
                        <div *ngIf="formSubmitted && formValues[prop.input].invalid" class="invalid-tooltip">
                            Veuillez saisir une valeur valide.
                        </div>
                    </div>
                </div>
            </div>

            <p class="text-muted"></p>
            <div class="live-preview">
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
                    {{ error }}
                </ngb-alert>
                <div class="row">
                    <div class="col-md-5">
                        <h4>Tous les Bouquets</h4>
                        <select multiple size="10" class="form-control" formControlName="availableBouquets" #availableList>
                            <option *ngFor="let bouquet of availableBouquetsList" [value]="bouquet.id">{{ bouquet.bouquetName }}</option>
                        </select>
                    </div>
                    <div class="col-md-2 text-center mt-2">
                        <button (click)="moveToPreset()" class="btn btn-primary" style="margin:5px"> &gt; </button>
                        <br>
                        <button (click)="moveToAvailable()" class="btn btn-primary" style="margin:5px"> &lt; </button>
                    </div>
                    <div class="col-md-5">
                        <h4>Bouquets Selection</h4>
                        <select multiple size="10" class="form-control" formControlName="selectedBouquets" #presetList>
                            <option *ngFor="let bouquet of selectedBouquetsList" [value]="bouquet.id">{{ bouquet.bouquetName }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- end card body -->
        <!-- start card footer -->
        <div class="card-footer overflow-hidden">
            <button [routerLink]="['../../']" type="button" class="btn btn-info rounded-pill waves-effect waves-light">
                <span class="btn-label-left"><i class="mdi mdi-format-list-checkbox"></i></span> Retour à la liste
            </button>
            <button type="submit" class="btn btn-success rounded-pill waves-effect waves-light float-end">
                <span class="btn-label">
                    <i class="mdi mdi-check-all"></i>
                </span> Mettre à jour
            </button>
        </div>
        <!-- end card footer -->
    </div>
</form>
