<mat-card class="cardWithShadow">
    @if(expiringLinesloading){
        <mat-progress-bar mode="query"></mat-progress-bar>
    }
    <mat-card-content>
        <mat-card-title>Expiring Lines</mat-card-title>
        <mat-card-subtitle class="mat-body-1">Lines expired or achieved and arrived to deadline</mat-card-subtitle>
        <div class="table-responsive m-t-30">
            <table mat-table [dataSource]="dataSource" matSort class="no-wrap m-t-0 v-middle w-100">
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 f-s-15">Type</th>
                    <td mat-cell *matCellDef="let element" class="f-s-14 p-0">User Line</td>
                </ng-container>
                <ng-container matColumnDef="line_username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 f-s-15">Identity</th>
                    <td mat-cell *matCellDef="let element" class="f-s-14 p-0">{{ element.username }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="owner_username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 f-s-15">Owner</th>
                    <td mat-cell *matCellDef="let element" class="f-s-14 p-0">{{ element.owner }}</td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 f-s-15">Expires</th>
                    <td mat-cell *matCellDef="let element" class="f-s-14 p-0">
                        <b>{{ element.expiration | date:'dd/MM/yyyy' }}</b><br/>
                        {{ element.expiration | date:'HH:mm:ss' }}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>
