<form>
    <div class="row">
        <div class="col-lg-6">
            <mat-card class="cardWithShadow theme-card">
                <mat-card-header>
                    <mat-card-title class="m-b-0">Smarters Pro</mat-card-title>
                </mat-card-header>
                <mat-card-content class="b-t-1">
                    <div class="row">
                        <div class="col-sm-4 d-flex align-items-center">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
                                Host
                            </mat-label>
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="host address"/>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-6">
            <mat-card class="cardWithShadow theme-card">
                <mat-card-header>
                    <mat-card-title class="m-b-0">Basic with Icons</mat-card-title>
                </mat-card-header>
                <mat-card-content class="b-t-1">
                    <div class="row">
                        <div class="col-sm-4 d-flex align-items-center">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                            >Name
                            </mat-label
                            >
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="John Deo"/>
                                <mat-icon matPrefix class="op-5">
                                    <i-tabler name="user" class="icon-20 d-flex"></i-tabler>
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 d-flex align-items-center">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                            >Company
                            </mat-label
                            >
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="ACME Inc."/>
                                <mat-icon matPrefix class="op-5">
                                    <i-tabler
                                        name="building-arch"
                                        class="icon-20 d-flex"
                                    ></i-tabler>
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 d-flex align-items-center">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                            >Email
                            </mat-label
                            >
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="john.deo" type="email"/>
                                <mat-icon matPrefix class="op-5">
                                    <i-tabler name="mail" class="icon-20 d-flex"></i-tabler>
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 d-flex align-items-center">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                            >Phone No
                            </mat-label
                            >
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="123 4561 123"/>
                                <mat-icon matPrefix class="op-5">
                                    <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 d-flex align-items-center">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                            >Message
                            </mat-label>
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="outline" class="w-100">
                <textarea
                    rows="5"
                    matInput
                    placeholder="Hi, Do you have a moment to talk Deo ?"
                ></textarea>
                                <mat-icon matPrefix class="op-5">
                                    <i-tabler name="message-2" class="icon-20 d-flex"></i-tabler>
                                </mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <mat-card class="cardWithShadow theme-card">
                <mat-card-content>
                    <div class="row justify-content-end">
                        <div class="col-sm-12">
                            <button mat-flat-button color="primary">Save settings</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</form>
