.mat-table th.mat-header-cell,
.mat-table td.mat-cell {
  padding: 2px 4px; /* Adjust these values as needed */
}

.mat-table th.mat-header-cell {
  font-size: 12px; /* Optional: Adjust font size */
}

.mat-table td.mat-cell {
  font-size: 12px; /* Optional: Adjust font size */
}

.mat-table {
  overflow-x: auto; /* Allows horizontal scrolling if needed */
}
.table-responsive td{
    padding: 4px;
}

.mdc-data-table__header-cell{
    padding: 0 4px;
}

.mat-mdc-snack-bar-container {
  &.info-snackbar {
    --mdc-snackbar-container-color: #2196f3;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.warning-snackbar {
    --mdc-snackbar-container-color: #f3ad21;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.danger-snackbar {
    --mdc-snackbar-container-color: rgb(243, 68, 33);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.indirect::after{
  content: 'indirect';
  color: red;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: -3px;
}
.pulse {
    position: absolute;
    top: 3px;
    right: -8px;
}
