<swal #successSwal title="Succès!" text="Cette entrée a été ajoutée avec succès." icon="success"></swal>
<swal #errorSwal title="Erreur!"
      text="Une erreur s'est produite. Les informations saisies ne sont pas prises en compte." icon="error"></swal>

<div class="card">
    <!-- start card header -->
    <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">
            <i class="fas fa-user-edit bg-soft-primary rounded-circle fs-4 p-1"></i> User details
        </h4>
    </div>
    <div class="card-body">
        <form [formGroup]="editForm" name="add-form needs-validation" (ngSubmit)="onSubmit()">
            <app-ui-preloader [display]="loading"></app-ui-preloader>
            <ngb-alert [dismissible]="false" type="danger" *ngIf="error">
                {{ error }}
            </ngb-alert>
            <div id="progressWizard">
                <ul ngbNav #progressWizard="ngbNav" [(activeId)]="activeWizard"
                    class="nav-pills nav-justified bg-light form-wizard-header mb-3">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="rounded-0 pt-2 pb-2">
                            <i class="fas fa-user-edit me-1"></i>
                            <span class="d-none d-sm-inline">Account</span>
                        </a>
                        <ng-template ngbNavContent>
                            <p>
                                <ngb-progressbar type="success" [value]="25" [striped]="true" [animated]="true" class="mb-3" height="7px"></ngb-progressbar>
                            </p>
                            <div class="row">
                                <div class="position-relative col-md-6 col-lg-4 mb-5" *ngFor="let prop of accountProps">
                                    <label *ngIf="!['hidden'].includes(prop.type)" for="{{entityElm.entity}}_{{prop.input}}" class="form-label">{{prop.label}}</label>
                                    <input *ngIf="['text','email','password','hidden'].includes(prop.type)" class="form-control" type="{{prop.type}}" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre identifiant" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                                    <input *ngIf="['date'].includes(prop.type)" class="form-control" type="{{prop.type}}" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                                    <input *ngIf="['datetime'].includes(prop.type)" class="form-control" type="datetime-local" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date et heure" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                                    <div *ngIf="['checkbox'].includes(prop.type)" class="form-switch">
                                        <div class="form-check">
                                            <input type="checkbox" id="{{entityElm.entity}}_{{prop.input}}" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" class="form-check-input form-check-input" />
                                            <label class="form-check-label form-check-label" for="{{entityElm.entity}}_{{prop.input}}">{{prop.label}}</label>
                                        </div>
                                        <div id="{{entityElm.entity}}_{{prop.input}}_help" class="form-text mb-0 help-text">* cette option est
                                            facultative.
                                        </div>
                                    </div>
                                    <select *ngIf="['select'].includes(prop.type)" id="{{entityElm.entity}}_{{prop.input}}" class="form-control select2-basic form-select select2-hidden-accessible" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}">
                                        <option value="">Choisissez une option</option>
                                        <option *ngFor="let child of prop.joinTable" value="{{child[prop.joinTableId]}}">
                                            #{{child[prop.joinTableId]}} - {{child[prop.joinTableIdLabel]}}
                                        </option>
                                    </select>
                                    <textarea *ngIf="['textarea'].includes(prop.type)" class="form-control" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date et heure" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}"></textarea>
                                    <div *ngIf="formSubmitted && formValues[prop.input].valid" class="valid-tooltip">
                                        Cela semble bon!
                                    </div>
                                    <div *ngIf="formSubmitted && formValues[prop.input].invalid" class="invalid-tooltip">
                                        Veuillez saisir une valeur valide.
                                    </div>
                                </div>
                            </div> <!-- end row -->
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="rounded-0 pt-2 pb-2">
                            <i class="fas fa-wrench me-1"></i>
                            <span class="d-none d-sm-inline">Restrictions</span>
                        </a>
                        <ng-template ngbNavContent>
                            <p>
                                <ngb-progressbar type="success" [value]="50" [striped]="true" [animated]="true" class="mb-3" height="7px"></ngb-progressbar>
                            </p>
                            <div class="row">
                                <div class="position-relative col-md-6 col-lg-4 mb-5" *ngFor="let prop of restrictionsProps">
                                    <label *ngIf="!['hidden'].includes(prop.type)" for="{{entityElm.entity}}_{{prop.input}}" class="form-label">{{prop.label}}</label>
                                    <input *ngIf="['text','email','password','hidden'].includes(prop.type)" class="form-control" type="{{prop.type}}" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre identifiant" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                                    <input *ngIf="['date'].includes(prop.type)" class="form-control" type="{{prop.type}}" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                                    <input *ngIf="['datetime'].includes(prop.type)" class="form-control" type="datetime-local" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date et heure" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                                    
                                    <select multiple *ngIf="['list'].includes(prop.type)" id="{{entityElm.entity}}_{{prop.input}}" class="form-control select2-basic form-select select2-hidden-accessible" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}">
                                        <option value="">Ajouter une option</option>
                                        <option *ngFor="let child of prop.joinTable" value="{{child.id}}">
                                            #{{child.id}} - {{child.libelle}}
                                        </option>
                                    </select>

                                    <div *ngIf="['checkbox'].includes(prop.type)" class="form-switch">
                                        <div class="form-check">
                                            <input type="checkbox" id="{{entityElm.entity}}_{{prop.input}}" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" class="form-check-input form-check-input" />
                                            <label class="form-check-label form-check-label" for="{{entityElm.entity}}_{{prop.input}}">{{prop.label}}</label>
                                        </div>
                                        <div id="{{entityElm.entity}}_{{prop.input}}_help" class="form-text mb-0 help-text">* cette option est
                                            facultative.
                                        </div>
                                    </div>
                                    <select *ngIf="['select'].includes(prop.type)" [(ngModel)]="prop.joinTable[line[prop.input]]" id="{{entityElm.entity}}_{{prop.input}}" class="form-control select2-basic form-select select2-hidden-accessible" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}">
                                        <option value="">Choisissez une option</option>
                                        <option *ngFor="let child of prop.joinTable" value="{{child[prop.joinTableId]}}">
                                            #{{child.id}} - {{child[prop.joinTableIdLabel]}}
                                        </option>
                                    </select>
                                    <textarea *ngIf="['textarea'].includes(prop.type)" class="form-control" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date et heure" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}"></textarea>
                                    <div *ngIf="formSubmitted && formValues[prop.input].valid" class="valid-tooltip">
                                        Cela semble bon!
                                    </div>
                                    <div *ngIf="formSubmitted && formValues[prop.input].invalid" class="invalid-tooltip">
                                        Veuillez saisir une valeur valide.
                                    </div>
                                </div>
                            </div> <!-- end row -->
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink class="rounded-0 pt-2 pb-2">
                            <i class="fas fa-shopping-cart me-1"></i>
                            <span class="d-none d-sm-inline">Review Purchase</span>
                        </a>
                        <ng-template ngbNavContent>
                            <p>
                                <ngb-progressbar type="success" [value]="75" [striped]="true" [animated]="true" class="mb-3" height="7px"></ngb-progressbar>
                            </p>
                            <div class="row">
                                <div class="position-relative col-md-6 col-lg-4 mb-5" *ngFor="let prop of reviewPurchaseProps">
                                    <label *ngIf="!['hidden'].includes(prop.type)" for="{{entityElm.entity}}_{{prop.input}}" class="form-label">{{prop.label}}</label>
                                    <input *ngIf="['text','email','password','hidden'].includes(prop.type)" class="form-control" type="{{prop.type}}" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre identifiant" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                                    <input *ngIf="['date'].includes(prop.type)" class="form-control" type="{{prop.type}}" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                                    <input *ngIf="['datetime'].includes(prop.type)" class="form-control" type="datetime-local" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date et heure" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" />
                                    <div *ngIf="['checkbox'].includes(prop.type)" class="form-switch">
                                        <div class="form-check">
                                            <input type="checkbox" id="{{entityElm.entity}}_{{prop.input}}" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}" class="form-check-input form-check-input" />
                                            <label class="form-check-label form-check-label" for="{{entityElm.entity}}_{{prop.input}}">{{prop.label}}</label>
                                        </div>
                                        <div id="{{entityElm.entity}}_{{prop.input}}_help" class="form-text mb-0 help-text">* cette option est
                                            facultative.
                                        </div>
                                    </div>
                                    <select *ngIf="['select'].includes(prop.type)" id="{{entityElm.entity}}_{{prop.input}}" class="form-control select2-basic form-select select2-hidden-accessible" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}">
                                        <option value="">Choisissez une option</option>
                                        <option *ngFor="let child of prop.joinTable" value="{{child.id}}">
                                            #{{child.id}} - {{child.libelle}}
                                        </option>
                                    </select>
                                    <textarea *ngIf="['textarea'].includes(prop.type)" class="form-control" id="{{entityElm.entity}}_{{prop.input}}" required i18n-placeholder placeholder="Entrez votre date et heure" formControlName="{{prop.input}}" [ngClass]="{'is-invalid':formSubmitted && formValues[prop.input].invalid}"></textarea>
                                    <div *ngIf="formSubmitted && formValues[prop.input].valid" class="valid-tooltip">
                                        Cela semble bon!
                                    </div>
                                    <div *ngIf="formSubmitted && formValues[prop.input].invalid" class="invalid-tooltip">
                                        Veuillez saisir une valeur valide.
                                    </div>
                                </div>
                                <table>
                                    <thead>
                                        <th>ID</th>
                                        <th>Bouquet Name</th>
                                        <th>Streams</th>
                                        <th>Movies</th>
                                        <th>Series</th>
                                        <th>Stations</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bouquet of lineBouquets">
                                            <td>{{ bouquet.id }}</td>
                                            <td>{{ bouquet.bouquetName }}</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- end row -->
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                        <a ngbNavLink class="rounded-0 pt-2 pb-2">
                            <i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>
                            <span class="d-none d-sm-inline">Finish</span>
                        </a>
                        <ng-template ngbNavContent>
                            <p>
                                <ngb-progressbar type="success" [value]="100" [striped]="true" [animated]="true" class="mb-3" height="7px"></ngb-progressbar>
                            </p>
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center">
                                        <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
                                        <h3 class="mt-0">Thank you !</h3>
                                        <p class="w-75 mb-2 mx-auto">Quisque nec turpis at urna dictum luctus.
                                            Suspendisse convallis dignissim eros
                                            at volutpat. In egestas mattis dui. Aliquam
                                            mattis dictum aliquet.</p>
                                        <div class="mb-3">
                                            <div class="form-check d-inline-block">
                                                <input type="checkbox" class="form-check-input" id="customCheck3"
                                                       formControlName="acceptTerms">
                                                <label class="form-check-label" for="customCheck3">I agree with the
                                                    Terms and Conditions</label>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </ng-template>
                    </li>
                </ul>

                <div [ngbNavOutlet]="progressWizard" class="b-0 mb-0 pt-0"></div>
                <ul class="list-inline mb-0 wizard">
                    <li class="previous list-inline-item">
                        <button class="btn btn-secondary" [disabled]="activeWizard===1"
                                (click)="activeWizard=activeWizard-1">Previous
                        </button>
                    </li>
                    <li class="next list-inline-item float-end">
                        <button type="button" (click)="activeWizard=activeWizard+1" class="btn btn-secondary" *ngIf="activeWizard<4">Next
                        </button>
                        <button type="button" class="btn btn-secondary" *ngIf="activeWizard===4">Submit</button>
                    </li>
                </ul>
            </div> <!-- end #basicwizard-->
        </form>
    </div>

    <!-- start card footer -->
    <div class="card-footer overflow-hidden">
        <button [routerLink]="['../../']" type="button" class="btn btn-info rounded-pill waves-effect waves-light">
            <span class="btn-label-left"><i class="mdi mdi-format-list-checkbox"></i></span> Retour à la liste
        </button>
    </div>
    <!-- end card footer -->
</div>
